@model TestApplication.Models.WarehouseDto

<div class="modal-content">
    <div class="modal-header">
        <h3>Добавить склад</h3>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("AddWarehouse", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Latitude)
                @Html.HiddenFor(m => m.Longitude)
                @Html.HiddenFor(m => m.Type)                
                <p>
                    @Html.LabelFor(m => m.Name, "Название склада")
                    <br />
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } })
                </p>
                <p>
                    @Html.LabelFor(m => m.Director, "Директор")
                    <br />
                    @Html.EditorFor(m => m.Director, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } })
                </p>
                <p>
                    @Html.LabelFor(m => m.Address, "Адрес")
                    <br />
                    @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } })
                </p>
                <p>
                    @Html.LabelFor(m => m.ActivityType, "Вид деятельности")
                    <br />
                    @Html.EditorFor(m => m.ActivityType, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } })
                </p>
                <p><input type="submit" value="Сохранить" /></p>
            </fieldset>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioMarker" checked>
                <label class="form-check-label" for="flexRadioMarker">
                    Маркер
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioRectangle">
                <label class="form-check-label" for="flexRadioRectangle">
                    Прямоугольник
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPolygon">
                <label class="form-check-label" for="flexRadioPolygon">
                    Полигон
                </label>
            </div>
        }
    </div>
</div>

<!--секция скриптов-->
@section Scripts {
    <script src="~/js/add.js" asp-append-version="true"></script>
}