@model TestApplication.Models.WarehouseDto

<div class="modal-content">
    <div class="modal-header">
        <h3>Добавить склад</h3>
    </div>
    <div class="modal-body">
        <div id="warehouseForm">
            @Html.ValidationSummary(true)
            <fieldset>                        
                <p>
                    @Html.LabelFor(m => m.Name, "Название склада")
                    <br />
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } })
                </p>
                <p>
                    @Html.LabelFor(m => m.Director, "Директор")
                    <br />
                    @Html.EditorFor(m => m.Director, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } })
                </p>
                <p>
                    @Html.LabelFor(m => m.Address, "Адрес")
                    <br />
                    @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } })
                </p>
                <p>
                    @Html.LabelFor(m => m.ActivityType, "Вид деятельности")
                    <br />
                    @Html.EditorFor(m => m.ActivityType, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } })
                </p>
                <p><input type="button" value="Сохранить" id="saveWarehouseBtn" /></p>
            </fieldset>
        </div>
    </div>
</div>
